.userH1 {
  padding: 30px;
}

.deliveryStatus {
  font-size: 18px;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contactUs {
  float: right;
  font-size: 17px;
  color: #1ece88;
}

.userContainer {
  margin-top: 10px;
  border: 2px solid #1ece88;
  padding: 20px;
}

.table {
  background-color: white;
  margin-top: 1%;
  border: 2px solid #1ECE88;
}

/*set height of table so it fully shows on screen when first opened*/
.ReactTable.-striped.-highlight {  
  height: 78vh;  
}

.prodTableHeader {
  padding: 5px;
}

