.userH1 {
    padding: 30px;
}

.deliveryStatus {
    font-size: 18px;
}

.userHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contactUs {
    float: right;
    font-size: 17px;
    color: #1ECE88;
}

.userContainer {
    margin-top: 10px;
    border: 2px solid #1ECE88;
    padding: 20px;
}