.add-item-pop-up{
    width: 300px;
    height: 200px;
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    border-radius: 20px;
    box-shadow: 4px 4px 4px #1ece88;
}

.add-item-pop-up-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6666;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
 }

 .pop-up-btns{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;


 }

 .pop-up-btns-inner{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
margin-bottom: 10px;
width: 100%;
 }

 .pop-up-btn{
     background: purple;
     border: solid green 3px;
     color: lime;
     text-decoration: none;
     font-size: 120%;
     padding: 7.325px;
     font-weight: 900;
 }

 .pop-up-btn:hover{
     cursor: pointer;
     background: white;
 }

 .pop-up-title{
    display: flex;
    font-weight: 900;
    font-size: 140%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
 }

 @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
 }