.form-box {
    margin-top: 20px;
    padding: 10px 15px;
    border: 2px solid #1ECE88;
}

.headerbox {
    margin-top: 10px;
    margin-bottom: 40px;
}

.ui .button {
    background: #1ECE88;
    color: white;
}

.ui .button:hover {
    background: rgb(37, 228, 152);
    color: white;
}

.wrapper {
    border: 2px solid #1ECE88;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
 }

 h2 {
    text-align: center;
}