header{
  background-color: black !important;
  padding-bottom:9.7%;
  width: 100%;
}
nav {
  display: flex;
  margin-top: 10%;
}
.list {
  list-style: none;
  display: flex;
} 
li{
  height: 44px;
  width: max-content;
}
