.tableHeader {
  height: 10%;
  padding: 2%;
}

.userTable {
  overflow-y: scroll;
  height: 80%;
  width: 95%;
  border: 1px solid lightgray;
  margin-left: 2.5%;
}

.itemDetailContainer {
  height: 80%;
  width: 80%;
  background: white;
  margin-top: 5%;
  margin-left: 10%;
}

.itemButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
  justify-content: space-evenly;
  height: 10%;
  width: 100%;
  padding: 10px;
}

.itemButtonsAccept,
.itemButtonsDeny,
.itemButtonsCancel,
.itemButtonsModify {
  border-radius: 0.28571429rem;
  box-shadow: 0 0 10px white;
  padding: 0.78571429em 1.5em 0.78571429em;
  margin: 2px 2px;
  font-weight: 700;
  cursor: pointer;
  background-color: #1ece88;
  color: white;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.itemButtonsAccept:hover,
.itemButtonsAccept:active {
  border: 1px solid rgb(74, 255, 182);
  box-shadow: 0 0 10px white;
  color: white;
  animation-duration: 2s;
  animation-delay: 1s;
  background-color: rgb(74, 255, 182);
}

.itemButtonsModify:hover,
.itemButtonsModify:active {
  border: 1px solid yellow;
  box-shadow: 0 0 10px white;
  color: black;
  animation-duration: 2s;
  animation-delay: 1s;
  background-color: yellow;
}

.itemButtonsDeny:hover,
.itemButtonsDeny:active {
  border: 1px solid red;
  box-shadow: 0 0 10px white;
  color: white;
  animation-duration: 2s;
  animation-delay: 1s;
  background-color: red;
}

.itemButtonsCancel:hover,
.itemButtonsCancel:active {
  border: 1px solid darkgray;
  box-shadow: 0 0 10px white;
  color: black;
  animation-duration: 2s;
  animation-delay: 1s;
  background-color: darkgray;
}

.row {
  padding: 0 0 0 0 !important;
}

.tableRow {
  height: 40px;
  width: 100%;
  font-size: 100%;
  padding-left: 10px;
  background-color: #f8f8f8;
}
.tableRowDateParent {
  display: flex;
  flex-direction: row;
}
.tableRowDate1 {
  height: 40px;
  width: 40%;
  font-size: 100%;
  padding-left: 10px;
  background-color: #ffffff !important;
}
.tableRowDate2 {
  height: 40px;
  width: 60%;
  font-size: 110%;
  padding-left: 10px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
}

.tableRow:hover,
::placeholder:hover {
  background-color: #1ece88;
  color: white;
}
.noInput {
  padding-left: 10px;
  background-color: lightgray !important;
  height: 30px;
}
