button {
  padding: 8px 30px !important ;
  background: #1ece88 !important ;
  color: #fff !important ;
  outline: none !important ;
  border: none !important ;
  border-radius: 4px !important ;
  margin-bottom: 10px !important ;
  /*margin-left: 1rem !important ;*/
  cursor: pointer !important ;
}
button:hover {
  background-color: #60bd3c !important ;
}
button:active {
  background-color: #3e8e41 !important ;
  box-shadow: 0 5px #666 !important ;
  transform: translateY(4px) !important ;
}
