.loginBox {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #1ECE88;
  padding: 40px;
  margin-top: 100px;
  border-radius: 2px;
  background-color: white;
}


@media only screen and (max-width: 425px) {

  .loginBox {
    width: 270px;
    border: 2px solid #1ECE88;
    /* padding: 40px; */
    padding: 0;
    margin-top: 100px;
  }

}

