.newProduceTypeInput {
  width: 25% !important;
}

.input-container {
  display: flex !important;
  flex-direction: row !important;
}

.produce-item-container {
  margin: 5px;
  padding: 5px;
}

.produce-item-list {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  width: 70vw;
}
.produce-chart-item {
  display: flex;
  flex-direction: row;
  margin: 3px;
  /* background-color: rgb(118, 196, 118); */
  font-size: 20px;
  /* border-radius: 15px; */
  padding: 5px;
}
/* .undo-btn {
  margin-right: 12.3rem !important;
  position: absolute;
  right: 20px;
} */

.produce-delete-btn {
  padding: 2px;
  background-color: red;
  border-radius: 15px;
}
.produce-delete-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.undo-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.admin-btn {
  padding: 8px 30px !important ;
  background: #1ece88 !important ;
  color: #fff !important ;
  outline: none !important ;
  border: none !important ;
  border-radius: 4px !important ;
  margin-top: 10px !important ;
  margin-bottom: -40px;
  cursor: pointer !important ;
  width: 100px;
  height: 30px;
  position: absolute;
  left: 25vw;
}
.admin-btn:hover {
  background-color: #60bd3c !important ;
}
.admin-btn:active {
  background-color: #3e8e41 !important ;
  box-shadow: 0 5px #666 !important ;
  transform: translateY(4px) !important ;
}
