.qty-dropdown {
  width: 140px !important;
}
.qty-container {
  display: flex;
}
.qty-form {
  width: 152px !important;
}
.required-header{
  border: solid 2px #F92E2E;
  padding: 5px;
  border-radius: calc( 10px / 2);
}

#submitBtn{
  margin: auto;
  margin-top: 20px;
}
#add-user-form{
  margin: 0;
  
}



@media only screen and (max-width : 1000px) {
  .admin-mobile {
    width: 100%;
    padding-left: 80px;
    font-size: 20px;
    text-align: initial;
    padding-right: 0px;
 }

 #mobile-parent-container{
  height: initial;
  margin-top: 100px;
}
}


@media only screen and (max-width : 667px) {
  .form-column-8{
    width:100%;
  }
  .required-header{
    position: relative;
    left: calc(50vw - 125px);
    bottom: 10px;
  }
  #add-user-required-id{
    margin: auto;
    position: initial;
  }
  #submitBtn{
    width: 90vw;
  }

  .ui.form .field>label{
    font-size: 1.211345422em;
  }

  #add-user-form .column{
    width: 100% !important;
  }

  #mobile-admin-container{
    width: initial;
  }
 }

 @media only screen and (min-width : 668px) {

  .form-column-8{
    width:50%;
    padding-left: 10px;
  }
  .required-header{
    position: relative;
    top: -10px;
    left: 100px;
  }
  #submitBtn{
    width: 300px;
  }
  #add-user-required-id{
    top: 10px;
    left: 20px;
  }
 }