@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
   outline: none;
 }
 
 .App {
   text-align: center;
 }
 .admin-main-p{
  font: 17px 'Montserrat', sans-serif !important;
 }
 h4 {
   font-weight: 700;
   font-size: large;
   font: 20px 'Montserrat', sans-serif !important;
   font-weight: bold !important;
 }
 
 h1 {
   font-weight: 700;
 }
 
 header {
   display: flex;
   height: 10vh;
   justify-content: center;
   align-items: center;

 }
 
 main {
   height: 88vh;
   
 }
 
 .boxContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 99%;
   margin: 10px;
 }
 
 .leftNav {
   display: inline-flex;
   flex-direction: column;
   width: 15%;
   position: relative;
   top: 11em;
   height: max-content;
 }

 .containerTitle {
   height: 5%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   
 }

 @media only screen and (min-width : 1001px) {
  .containerTitle {
    display: none;
  }
}

 @media only screen and (max-width : 1000px) {
  .containerTitle {
    height: initial;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: initial;
  }

 }
 
 .container1 {
   display: block;
   flex-wrap: wrap;
   width: 87%;
   border: 5px solid #1ECE88;
   margin-top: 2%;
   padding-right: 1%;
   justify-content: center;
   font-weight: 400;
   font-size: medium;
   background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url("../img/CultivatR-01.jpg");
   background-size: cover;
   background-position: center;
   /*background-attachment: fixed;*/
   background-color: black;
   border-radius: .5%;
 }

 .container2 {
    height: 100%;
    /*width: 90%;*/
    margin-left: 1%;
 }

.containerAdminSettings {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*width: 90%;*/
    margin-left: 1%;
 }

 .containerAdminSettings > h2 {
    align-items: flex-start;
 }

 .container3 {
   width: 90%;
   margin-left: 1%;
   height: 100%;
 }

 .buttonAdmin{  

  
  /*see Button.module.css for actual button css styles*/
   background-color: #1ece88;
   color:white;
   border-radius: .28571429rem;
   font-weight: 700;
   /*margin: 10px .25em 0 10px;*/
   /*padding: .78571429em 1.5em .78571429em;*/
   font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
   line-height: 1em;
   border: .5px solid black;
   width: 90%;
   margin-top: 8px;
   margin-bottom: 8px;
   cursor: pointer;
   font-weight: bolder;
 }

 .buttonAdmin:hover{
  background-color: #18a56d !important;
} 

.buttonAddUser{
  background-color: #1ECE88;
  color:white;
  border-radius: .28571429rem;
  font-weight: 700;
  margin: 0px .25em 0 20px;
  padding: .5em 1.5em .5em;
  font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
  line-height: 1em;
  border: none;
  width: 8%;
  cursor: pointer;
}

.buttonAdmin:hover{
 background-color: rgb(37, 228, 152);
} 

.rt-resizable-header-content {
  font-weight: 700;
  font-size: 15px;
}
 
.heading {
  text-align: center;
  margin-top: 12px !important;
}