* {
  outline: none;
}

.App {
  text-align: center;
}

h4 {
  margin: 3px;
  font-weight: 400;
}

h1 {
  font-weight: 200;
}

header {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(76, 77, 79),rgb(96, 189, 60),rgb(255,255,255));
}

main {
  height: 90vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url("./img/CultivatR-01.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
}

.container {
  display: inline-flex;
  width: 100%;
  height: 100%; 
}

.box-container {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.container-1 {
  display: inline-flex;
  flex-wrap: wrap;
  width: 49%;
  height: 50%;
  border: 1px solid black;
  margin: 2px;
  justify-content: center;
  font-weight: 300;
  font-size: smaller;
}

#item-overlay {
  position: fixed;
  display: none;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 30px;
  box-shadow: 0 0 50px black;
  background-color: rgba(0, 0, 0, 0.90);
  z-index: 100;
  color:white;
}

.item-detail-container {
  display: inline-block;
  margin-top: 2%;
  height: 90%;
  width: 90%;
}

.item-title-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 5%;
  width: 100%;
  margin-bottom: 5px;
}

.item-container {
  display: flex;
  height: 89%;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.farm-detail,
.item-detail {
  height: 100%;
  width: 45%;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  margin-left: 20px;
  text-align: left;
  padding-left: 10px;
  font-weight: 200;
}

.item-buttons-container {
  display: flex;
  justify-content: space-evenly;
  height: 7%;
  width: 100%;
  margin-top: 15px;
}

.item-buttons-accept,
.item-buttons-deny,
.item-buttons-cancel {
  border-radius: 5px;
  box-shadow: 0 0 10px white;
  padding: 5px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: background-color 0.75s, border 0.75s, color 0.75s;
}

.item-buttons-accept:hover,
.item-buttons-accept:active {
    border: 1px solid #60bd3c;
    box-shadow: 0 0 10px white;
    color: black;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: #60bd3c;
}

.item-buttons-deny:hover,
.item-buttons-deny:active {
    border: 1px solid red;
    box-shadow: 0 0 10px white;
    color: white;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: red;
}

.item-buttons-cancel:hover,
.item-buttons-cancel:active {
    border: 1px solid darkgray;
    box-shadow: 0 0 10px white;
    color: black;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: darkgray;
}
