#awaiting-approval {
  border: red solid !important ;
  font-size: 80%;
  padding: 0;
  margin: 2px;
  background: red;
  font-weight: 900;
  color: white !important;
}

#awaiting-approval:hover {
  color: white !important;
}

.white-logo > img{
margin-top: 80px;
width: 130%;
height: 130%;
}


@media only screen and (max-width : 1029px) {
#desktop-menu{
  display: none;
}

}
@media only screen and (min-width : 1030px) {
.mobile-header-title, .mobile-top-menu{
  display: none;
}
#desktop-menu{
  display: initial;
}
}