.ui.header:first-child {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-table {
    overflow-y: scroll;
    height: 625px;
    border: 1px solid lightgray;
    width: 95%;
    margin-left: 2.5%;
}

.item-buttons-container {
    display: flex;
    justify-content: space-evenly;
    height: 7%;
    width: 100%;
    margin-top: 15px;
}
  
.item-buttons-accept,
.item-buttons-deny,
.item-buttons-cancel,
.item-buttons-modify {
    border-radius: .28571429rem;
    box-shadow: 0 0 10px white;
    padding: .78571429em 1.5em .78571429em;
    margin: 5px .25em 0 0;
    font-weight: 700;
    cursor: pointer;
    background-color: #1ECE88;
    color: white;
    transition: background-color .5s, border .5s, color .5s;
}
  
.item-buttons-accept:hover,
.item-buttons-accept:active {
    border: 1px solid rgb(74, 255, 182);
    box-shadow: 0 0 10px white;
    color: white;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: rgb(74, 255, 182);
}
  
.item-buttons-modify:hover,
.item-buttons-modify:active {
    border: 1px solid yellow;
    box-shadow: 0 0 10px white;
    color: black;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: yellow;
}

.item-buttons-deny:hover,
.item-buttons-deny:active {
    border: 1px solid red;
    box-shadow: 0 0 10px white;
    color: white;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: red;
}

.item-buttons-cancel:hover,
.item-buttons-cancel:active {
    border: 1px solid darkgray;
    box-shadow: 0 0 10px white;
    color: black;
    animation-duration: 2s;
    animation-delay: 1s;
    background-color: darkgray;
}